USE [master]
GO
/****** Object:  Database [CIS340_01_SARDAR_A]    Script Date: 4/15/2024 11:50:34 PM ******/
CREATE DATABASE [CIS340_01_SARDAR_A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CIS340_01_SARDAR_A', FILENAME = N'C:\Data\MsSQL\Data\CIS340_01_SARDAR_A.mdf' , SIZE = 102400KB , MAXSIZE = 665600KB , FILEGROWTH = 20%)
 LOG ON 
( NAME = N'CIS340_01_SARDAR_A_log', FILENAME = N'C:\Data\MsSQL\Data\CIS340_01_SARDAR_A_log.LDF' , SIZE = 51200KB , MAXSIZE = 2048GB , FILEGROWTH = 20%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIS340_01_SARDAR_A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIS340_01_SARDAR_A]
GO
USE [CIS340_01_SARDAR_A]
GO
/****** Object:  User [Sardar, Anika Tarannum]    Script Date: 4/15/2024 11:50:34 PM ******/
CREATE USER [Sardar, Anika Tarannum] FOR LOGIN [UWSPDOM\asard395] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Instructor Dhalla]    Script Date: 4/15/2024 11:50:34 PM ******/
CREATE USER [Instructor Dhalla] FOR LOGIN [UWSPDOM\hdhalla] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CIS340_01_SARDAR_A_USER]    Script Date: 4/15/2024 11:50:34 PM ******/
CREATE USER [CIS340_01_SARDAR_A_USER] FOR LOGIN [CIS340_01_SARDAR_A_USER] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sardar, Anika Tarannum]
GO
ALTER ROLE [db_owner] ADD MEMBER [Instructor Dhalla]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CIS340_01_SARDAR_A_USER]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [CIS340_01_SARDAR_A_USER]
GO
/****** Object:  Table [dbo].[AdminCredentials]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminCredentials](
	[AdminID] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Passwords] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCategories]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCategories](
	[CustomerCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCategoryName] [varchar](50) NOT NULL,
	[DiscountRate] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCredentials]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCredentials](
	[CustomerID] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Passwords] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCategoryID] [int] NOT NULL,
	[AdminID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceLineItems]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceLineItems](
	[InvoiceID] [int] NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[CustomerCategoryID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ItemTotal] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[ProductTotal] [money] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[Shipping] [money] NOT NULL,
	[InvoiceTotal] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/15/2024 11:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [char](10) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHandQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminCredentials]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admins] ([AdminID])
GO
ALTER TABLE [dbo].[CustomerCredentials]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admins] ([AdminID])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([CustomerCategoryID])
REFERENCES [dbo].[CustomerCategories] ([CustomerCategoryID])
GO
ALTER TABLE [dbo].[InvoiceLineItems]  WITH CHECK ADD FOREIGN KEY([CustomerCategoryID])
REFERENCES [dbo].[CustomerCategories] ([CustomerCategoryID])
GO
ALTER TABLE [dbo].[InvoiceLineItems]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceLineItems]  WITH CHECK ADD FOREIGN KEY([ProductCode])
REFERENCES [dbo].[Products] ([ProductCode])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategories] ([ProductCategoryID])
GO
USE [master]
GO
